.text-success
{
    color: rgb(91, 216, 91) !important;
}

.btn-success
{
    background-color: rgb(91, 216, 91) !important;
    border-color: rgb(91, 216, 91) !important;
}

.badge-success {
    background-color: rgb(91, 216, 91) !important;
}

// h1 {
//     &::after
//     {
//         content: '';
//         display: block;
//         position: relative;
//         top: 10px;
//         margin-bottom: .7em;
//         width: 100px;
//         height: 7px;
//         background-color: rgb(91, 216, 91);
//     }
// }